/*var()*/ 
:root {

	--branco-fonte: #Bbbec3;
	--cor-cabecalho-rodape: #202a33;


}





body {
    font-family: 'Merriweather', sans-serif;
    background-color: #2f3136;
	
}


strong {
	font-weight: bold;
}


#allbutfooter {
    min-height: calc(100vh - 40px);
}


/* cabeçalho */
.cabecalho {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid darkgray;
	background-color: var(--cor-cabecalho-rodape);
}


h1 {
	font-size: 2rem;
	margin: 2.5rem;
	color: var(--branco-fonte);
}


.lista_cabecalho {
	font-size: 0.9rem;
	margin: 0.7rem 0.7rem 0 0;
	line-height: 1.5em;
	color: var(--branco-fonte);
}


nav a {
	text-decoration: none;
	color: #9a9a69;
}


nav a:hover {
	color: #777750;
}




/* conteúdo */
main {
	display: flex;
	flex-direction: column;
}


.conteudo_curriculo-titulo {
	font-weight: bold;
	font-size: 1.3rem;
	margin-bottom: 1.2rem;
	color: var(--branco-fonte);
	
}


	#ensino1 {
		margin-left: 10em;
		color: var(--branco-fonte);
	}


	#ensino2 {
		margin-left: 14.6em;
		color: var(--branco-fonte);
	}



.conteudo_curriculo {
	margin: 2rem 0 0 2rem;
	padding-bottom: 4rem;
	color: var(--branco-fonte);
}


.conteudo_curriculo:after {
    content: ""; 
    display: block; 
    margin: 0 5rem 0 0;
    width: 60%;
    padding-top: 20px;
    border-bottom: 1px solid darkgray;
}



/* rodapé */
footer {
	display: flex;
	justify-content: flex-start;
	margin-top: auto;
	background-color: var(--cor-cabecalho-rodape);
	border-top: 2px solid darkgray;
}


footer a {
	margin: 2rem 0 2rem 3rem;
}


footer div {
	display: flex;
	align-items: flex-end;
}

footer p {
	font-size: small;
	color: var(--branco-fonte);
    margin-left: 70vw;
}




/* responsive */
@media screen and (max-width: 860px) {

	.cabecalho {
		width: 113vw;
		display: flex;
	}


	footer {
		width: 113vw;
	}
}


@media screen and (max-width: 842px) {

    .paragrafo_formacao {
		margin-top: 1.3rem
	}

	
	#ensino1 {
        white-space: nowrap;
		margin: 0;
	}

	#ensino2 {
        white-space: nowrap;
		margin: 0;
	}
}